{% extends "base.html" %}
{% block title%}Card{% endblock %}
{% block content %}
<div class="font-bold p-3 text-white">
    <ul>
        <li>
            <div class="text-xl">
                <h3>Title</h3>
                <span>{{data.title}}</span>
            </div>
                <p class="bg-orange-900 p-2">
                    <span>{{data.body}}</span>
                </p>
            <div>
                {% if index > 0 %}
                <a href="{{ url_for('card_view', index=index-1) }}">Previous</a>
                {% endif %}
                {% if index < max_index %}
                <a class="pl-2"  href="{{ url_for('card_view', index=index+1 ) }}">Next</a>
                {% else %}
                <a class="pl-2"  href="{{ url_for('card_view', index=0 ) }}">Start Over</a>
                {% endif %}

            </div>
        </li>
    </ul>
    <button>
        <a href="{{url_for('all_cards')}}">
            back to full list
        </a>
    </button>
</div>

<a href="/card/{{index + 1}}" />
{% endblock %}